<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bookle</title>
  <%= stylesheet_link_tag 'materialize' %>
  <style>
    small {
      margin: 0px;
    }

    h4 {
      margin: 0px;
    }

    P {
      margin: 0px;
    }
  </style>
</head>
<body>
<%= render 'layouts/head'%>
<table col="3" width="100%">
  <% for i in 0..@books_for_s.size - 1 do
       book = @books_for_s[i] %>
      <tr>
        <td width="10%"></td>
        <td width="90%">
          <h4><%= i %>. <a href="info?bookid=<%= book.id %>"><%= book.getName %></a></h4>
          <p><%= book.getAuthor %></p>
          <small><%= book.getAnnotation %></small>
        </td>
      </tr>
  <% end %>
</table>
<%= render 'layouts/down' %>
</body>
</html>