<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bookle</title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'materialize' %>
  <style>
    small {
      line-height: 0.1em;
    }

    h4 {
      line-height: 0.1em;
    }

    P {
      line-height: 0.1em;
    }
  </style>
</head>
<body>
<nav class="light-gray lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Bookle</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Войти</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<table col="3" width="100%">
  <% for i in 0..@books_for_s.size - 1 do
       book = @books_for_s[i] %>
      <tr>
        <td width="10%"></td>
        <td width="90%">
          <h4><%= i %>. <a href="info?bookid=<%= book.id %>"><%= book.getName %></a></h4>
          <p><%= book.getAuthor %></p>
          <small><%= book.getAnnotation %></small>
        </td>
      </tr>
  <% end %>
</table>
</body>
</html>